@import "tailwindcss";

.blog-content h1 {
  font-size: 32px;
  font-weight: 700;
}
.blog-content h2 {
  font-size: 26px;
  font-weight: 700;
}
.blog-content h3 {
  font-size: 18px;
  font-weight: bold;
}
.ql-container {
  background: white;
  min-height: 250px;
}
.ql-editor {
  background: white;
  min-height: 250px;
}